html {
    margin: 0 !important;
    background: #eee;
    color: rgba(0,0,0,0.84);
    font-family: Roboto, sans-serif;
}

html.darkMode {

    background-color: #333;
    color: rgba(255,255,255,0.84);

}

html.darkMode .card {
    background-color: #666;
}

html a {
    color: rgba(0,0,0,0.84);
}

html.darkMode a {
    color: rgba(255,255,255,0.84);
}

html.darkMode a:visited {
    color: orange;
}

button.darkMode {

    position: absolute;
    top: 2px;
    right: 2px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

}

button.darkMode:hover {
}

html {
    padding: 2%;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.card {

    display: flex;
    background-color: white;
    border-radius: 2px;
    flex-flow: column;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.page {

    height: 293mm;
    width: 210mm;

}

.defered {
    opacity: 0.0;
    transition: position 1s ease-in-out, transform 1s ease-in-out, opacity 1s ease-in-out;
}

.defered.popupFromLeft {
    transform: translateX(-50px);
}

.defered.popupFromRight {
    transform: translateX(50px);
}

.defered.popupFromTop {
    transform: translateY(-50px);
}

.defered.popupFromBottom {
    transform: translateY(50px);
}

.defered.shouldBeVisible {
    transform: unset;
    opacity: 1.0;
}

.flexbox {
    display: flex;
}

.flexcolumn {
    display: flex;
    flex-flow: column;
}

.innerPage {
    padding: 5%;
    height: 100%;
}

.section {
    margin-top: 40px;
}

.halfSection {
    margin-top: 20px;
}

.quarterSection {
    margin-top: 10px;
}

.pullRight {
    margin-left: auto;
}

.pullLeft {
    margin-right: auto;
}

.pullTop {
    margin-bottom: auto;
}

.pullBottom {
    margin-top: auto;
}

.text.bold {
    font-weight: 700;
}

.text.medium {
    font-weight: 500;
}

.text.light {
    font-weight: 300;
}

.text.thin {
    font-weight: 100;
}

.text.italic {
    font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

body > .card.page:not(:last-of-type) {
    margin-bottom: 50px;
}

@page {
    size: A4;
    margin: 0;
}

@media print {

    html,body {
        padding: 0;
        /*width: 210mm;*/
        /*height: 297mm;*/
        margin: 0;
    }

    .page {
        box-shadow: none;
    }

    .page:not(:last-of-type) {
        page-break-after: always;
    }

    a[href] {
        color: rgba(0,0,0,0.84);
        text-decoration: none;
    }

    .hideOnPrint {
        display: none !important;
    }

    body > .card.page:not(:last-of-type) {
        margin-bottom: 0;
    }

    .defered {
        transform: translate(0,0) !important;
        opacity: 1.0 !important;
    }

    .text.thin {
        font-weight: 300;
        font-style: italic;
    }

    html {
        background: #eee !important;
        color: rgba(0,0,0,0.84) !important;
    }

    .card {
        background-color: white !important;
    }

}

@font-face {
    font-family: 'Roboto', sans-serif;
}